html {
    font-family: "Montserrat";
}

.logo {
    font-family: "Montserrat";
    font-weight: 800;
    color: orange;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    background-color: white;
    padding-left: 24px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.menu p {
    margin-right: 24px;
}

.menu p a {
    color: grey;
    text-decoration: none;
}

.order-button {
    color: orange !important;
    background-color: black;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
}

.banner {
    display: flex;
    flex-direction: row;
    height: 400px;
    padding-left: 32px;
}

.banner .content {
    min-width: 270px;
    width: 100%;
    margin-top: 80px;
}

.banner img {
    width: 43vw;
    object-fit: cover;
    clip-path: polygon(13% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.call-to-action {
    font-weight: 700;
}

.call-to-action:hover > i {
    transform: translateX(6px);
}

.call-to-action i {
    transition: transform 150ms ease-in-out;
    color: orange;
    margin-left: 8px;
}
